.header__lang-link {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    padding-left: 18px;
}

.header__lang-link:active {
    text-decoration: underline;
}