
@import url('../header/header.css');
@import url('../lead/lead.css');
@import url('../intro/intro.css');
@import url('../photo-grid/photo-grid.css');
@import url('');

.page {
    background: #2A2C2F;
    min-width: 1280px;
    margin: 0 auto;
}