@import url('./__item/places__item.css');
@import url('./__title/places__title.css');
@import url('./__image/places__image.css');
@import url('./__website/places__website.css');
@import url('./__url-heading/places__url-heading.css');
@import url('./__link/places__link.css');
@import url('./__info/places__info.css');
@import url('./__paragraph/places__paragraph.css');

.places {
    position: relative;
    max-width: 984px;
    margin: 100px auto 0;

}

@media screen and (max-width: 1024px) {
    .places {
      margin-right: 48px;
      margin-left: 48px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .places {
      margin: 88px 24px 0 24px;
    }
  }
  
  
  
  