.lead__image-section {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 64px 0 0;
    object-fit: cover;

} 


@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__image-section {
        max-width: 928px;
        width: 100%;
        padding: 56px 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__image-section {
        padding: 56px 0 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .llead__image-section {
        padding: 40px 0 0;
  }
}
