.places__item {
    margin: 0 auto 80px;
    padding: 0;
    max-width: 100%;
    display: grid;
    column-gap: 40px;
    row-gap: 48px;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    grid-template-rows: auto;
}